@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    /* colors: {
                azulOscuro: '#292d66',
                azul: '#3154a2',
                morado: '#672577',
            } */
    --theme-azul-oscuro: #292d66;
    --theme-azul: #3154a2;
    --theme-morado: #672577;
}
