@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    /* colors: {
                azulOscuro: '#292d66',
                azul: '#3154a2',
                morado: '#672577',
            } */
    --color-azul-oscuro: #292d66;
    --color-azul: #3154a2;
    --color-morado: #672577;
}
