@tailwind base;
@tailwind components;
@tailwind utilities;

/* Agregar estas variables de colores colors: {
                azulOscuro: '#292d66',
                azul: '#3154a2',
                morado: '#672577',
            } */
```
